<%def calculate_totals(versions)
          totals = {}
          totals[:estimated_hours] = 0.0
          totals[:spent_hours] = 0.0
          totals[:rest_hours] = 0.0
          totals[:speed_rest_hours] = 0.0
          totals[:parallel_rest_hours] = 0.0
          totals[:parallel_speed_rest_hours] = 0.0
          totals[:completed_pourcent] = 0.0
          totals[:closed_pourcent] = 0.0
          versions.each do |version|
            totals[:estimated_hours] += version.estimated_hours
            totals[:spent_hours] += version.spent_hours
            totals[:rest_hours] += version.rest_hours
            totals[:speed_rest_hours] += version.speed_rest_hours
            totals[:parallel_rest_hours] += version.parallel_rest_hours
            totals[:parallel_speed_rest_hours] += version.parallel_speed_rest_hours
            totals[:completed_pourcent] += version.spent_hours
            totals[:closed_pourcent] += version.closed_spent_hours
          end
          totals[:total] = totals[:spent_hours] + totals[:rest_hours]
          if totals[:total] > 0.0
            totals[:completed_pourcent] = (totals[:completed_pourcent] * 100.0) / totals[:total]
            totals[:closed_pourcent] = (totals[:closed_pourcent] * 100.0) / totals[:total]
          end
          totals
        end%>
<div class="new-todo">
  <% form_tag({:url => "/projects/boot-camp-2012/get_stats"}, {:multipart => true}) do %>
    <input type="hidden" name="project_id" value="<%=@parent_project.identifier%>"/>
   <%= label_tag(:start_date, "Start Date: ") %> <%= select_datetime @start_date ,:prefix => :start_date %><br/>
     <%= label_tag(:end_date, "End Date: ") %><%= select_datetime @end_date ,:prefix => :end_date %><br/>
    <%= submit_tag "search  " %>
  <%end%>
</div>

<table class="list">
  <tr>
    <th>Project</th>
    <th>Tickets updated</th>
    <th>Total Tickets</th>
    <th>Members</th>
    <th>Progress</th>
  </tr>


  <%@projects.each do |project|
    changed_issues_count = 0
    project.issues.each do |issue|
      changed_issues_count += 1 if @start_date <= issue.updated_on and issue.updated_on <= @end_date
    end
    totals = calculate_totals(project.versions)
  %>
    <tr>
      <td><a href="/projects/<%=project.identifier-%>"><%=project.name-%></a></td>
      <td style="text-align: center"> <%= changed_issues_count -%> </td>
      <td style="text-align: center"><%=project.issues.count-%></td>
      <td><%project.members.each do |member|-%>
          <%=member.name + "," -%><%end%></td>
      <td><%= progress_bar([totals[:closed_pourcent], totals[:completed_pourcent]], :width => '40em', :legend => ('%0.0f%' % totals[:completed_pourcent])) %>
</td>
    </tr>
  <%end%>

</table>